services:
  mongo:
    image: mongo:7
    restart: unless-stopped
    ports:
      - "27018:27017"
    volumes:
      - mongo-data:/data/db

  server:
    build:
      context: ./server
    environment:
      PORT: 5000
      MONGODB_URI: mongodb://mongo:27017/form_builder
      JWT_SECRET: uhfdwfcucjifvujffgegstgvwsa
      JWT_EXPIRES_IN: 24h
      NODE_ENV: development
      CORS_ORIGINS: http://localhost:3000
    depends_on:
      - mongo
    ports:
      - "5000:5000"

  client:
    build:
      context: ./client
      args:
        VITE_API_BASE_URL: http://localhost:5000/api
    depends_on:
      - server
    ports:
      - "3000:80"

volumes:
  mongo-data:

